<launch>
    <!--dimension of the space 2 or 3-->
    <arg name="dim" value="2"/>
    <!--scale of the space-->
    <arg name="scale" value="16"/>
    <param name="dim" value="$(arg dim)"/>
    <param name="scale" value="$(arg scale)"/>
    <group ns="UAV_FW">
        <node name="A" pkg="cloud_map" type="uavA.py" respawn="false" output="screen">
            <param name="name" value="A"/>
            <param name="temperature" value="true"/>
            <param name="pressure" value="true"/>
            <param name="humidity" value="false"/>
            <!--separate neighbour names by ; If A had B,C neighbour value="B_C"-->
            <param name="neighbors" value="B_C"/>
        </node>
        <!--<node name="B" pkg="cloud_map" type="uavB.py" respawn="false" output="screen">-->
            <!--<param name="name" value="B"/>-->
            <!--<param name="temperature" value="true"/>-->
            <!--<param name="pressure" value="false"/>-->
            <!--<param name="humidity" value="true"/>-->
            <!--<param name="neighbors" value="A"/>-->
        <!--</node>-->
        <!--<node name="C" pkg="cloud_map" type="uavC.py" respawn="false" output="screen">-->
            <!--<param name="name" value="C"/>-->
            <!--<param name="temperature" value="true"/>-->
            <!--<param name="pressure" value="false"/>-->
            <!--<param name="humidity" value="true"/>-->
            <!--<param name="neighbors" value="A"/>-->
        <!--</node>-->
        <node name="heart_bit_fly" pkg="cloud_map" type="heart_bit_fly.py" output="screen"></node>
    </group>

    <group ns="Visual">
        <!--based on the dimension appropriate visualization will be generated-->
        <node name="A" pkg="cloud_map" type="visualize_uavA.py" respawn="false" output="screen">
            <param name="name" value="A"/>
            <param name="temperature" value="true"/>
            <param name="pressure" value="true"/>
            <param name="humidity" value="false"/>
            <!--separate neighbour names by _ ; If A had B,C neighbour value="B_C"-->
            <param name="neighbors" value=""/>
        </node>
        <!--<node name="B" pkg="cloud_map" type="visualize_uavB.py" respawn="false" output="screen">-->
            <!--<param name="name" value="B"/>-->
            <!--<param name="temperature" value="true"/>-->
            <!--<param name="pressure" value="true"/>-->
            <!--<param name="humidity" value="false"/>-->
            <!--&lt;!&ndash;separate neighbour names by _ ; If A had B,C neighbour value="B_C"&ndash;&gt;-->
            <!--<param name="neighbors" value="A"/>-->
        <!--</node>-->
        <!--<node name="C" pkg="cloud_map" type="visualize_uavC.py" respawn="false" output="screen">-->
            <!--<param name="name" value="C"/>-->
            <!--<param name="temperature" value="true"/>-->
            <!--<param name="pressure" value="true"/>-->
            <!--<param name="humidity" value="false"/>-->
            <!--&lt;!&ndash;separate neighbour names by _ ; If A had B,C neighbour value="B_C"&ndash;&gt;-->
            <!--<param name="neighbors" value="A"/>-->
        <!--</node>-->
    </group>

    <group ns="PHI">
        <node name="A" pkg="cloud_map" type="phiA.py" respawn="false" output="screen">
            <param name="name" value="A"/>
            <param name="neighbors" value="B_C"/>
            <param name="intent" value="unexplored"/>
        </node>
        <!--<node name="B" pkg="cloud_map" type="phiB.py" respawn="false" output="screen">-->
            <!--<param name="name" value="B"/>-->
            <!--<param name="neighbors" value="A"/>-->
            <!--<param name="intent" value="unexplored"/>-->
        <!--</node>-->
        <!--<node name="C" pkg="cloud_map" type="phiC.py" respawn="false" output="screen">-->
            <!--<param name="name" value="C"/>-->
            <!--<param name="neighbors" value="A"/>-->
            <!--<param name="intent" value="unexplored"/>-->
        <!--</node>-->
    </group>
</launch>
